<!doctype html>
<html lang="en">

<head>
    <title>Seafarer's Cafe - Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
    <script>
        window.onload = function () {
            var feed = new Vue({
                el: '#stats',
                data: {
                    stats: { session: [], url: [] },
                    showSessionTable: false,
                    showUrlTable: false,
                    showLogData: false,
                },
                created() {
                    fetch(new Request('/admin/stats')).then(response => response.json())
                        .then(response => this.stats = response);
                }
            });
        }
    </script>
</head>

<body>
    <h1>
        <a class="navigation" href="/" title="seafarers.cafe">&lt;</a>
        Admin
    </h1>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'createArticle')">Articles</button>
        <button class="tablinks" onclick="openTab(event, 'stats')">Stats</button>
    </div>

    <div id="createArticle" class="tabcontent">
        <h1>Create Article</h1>
        <div class="container">
            <div class="float-one">
                <div class="form">
                    <form action="/posts" method="post" enctype="multipart/form-data">
                        <div>
                            <textarea id="articleEditor" name="description" rows="10" cols="100" oninput="updatePreview()"></textarea>
                        </div>
                        <div>
                            <span>Tags: <input type="text" name="tags" /></span>
                        </div>
                        <div>
                            Images: <input type="file" name="images" multiple>
                        </div>
                        <div>
                            <select name="type">
                                <option value="" disabled selected>Select...</option>
                                <option value="blog">Blog</option>
                                <option value="index">Index</option>
                            </select>
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="float-two">
                <div id="articlePreview"></div>
            </div>
        </div>
    </div>
    <div id="stats" class="tabcontent">
        <h1>Stats</h1>
        <div>
            <input type="checkbox" id="showSession" v-model="showSessionTable">
            <label for="showSession">Show Session Stats</label>
        </div>
        <div v-if="showSessionTable">
            {{stats.total}} total sessions
            <table class="table session-table">
                <tr>
                    <th>Host</th>
                    <th>Total Requests</th>
                </tr>
                <tr v-for="item in stats.session">
                    <td>{{item.session.substring(0,10)}}...</td>
                    <td>{{item.c}}</td>
                </tr>
            </table>
        </div>
        <div>
            <input type="checkbox" id="showUrl" v-model="showUrlTable">
            <label for="showUrl">Show URL Stats</label>
        </div>
        <table class="table url-table" v-if="showUrlTable">
            <tr>
                <th>Method</th>
                <th>Path</th>
                <th>Total Requests</th>
            </tr>
            <tr v-for="item in stats.url">
                <td>{{item.method}}</td>
                <td>{{item.url.substring(0, Math.min(30, item.url.length))}}</td>
                <td>{{item.c}}</td>
            </tr>
        </table>
        <div>
            <input type="checkbox" id="showLog" v-model="showLogData">
            <label for="showLog">Show Log</label>
        </div>
        <table class="table log-table" v-if="showLogData">
            <tr>
                <th>Date</th>
                <th>Session</th>
                <th>Method</th>
                <th>Path</th>
            </tr>
            <tr v-for="item in stats.log">
                <td>{{item.createdAt.substring(0,19)}}</td>
                <td>{{item.session.substring(0,10)}}...</td>
                <td>{{item.method}}</td>
                <td>{{item.url.substring(0, Math.min(30, item.url.length))}}</td>
                <td>{{item.c}}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    function openTab(evt, contentID){
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(contentID).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function updatePreview(){
        var text = document.getElementById('articleEditor').value,
        target = document.getElementById('articlePreview'),
        converter = new showdown.Converter(),
        html = converter.makeHtml(text);
        
        target.innerHTML = html;
    }
</script>
</html>