<!doctype html>
<html lang="en">

<head>
    <title>Mark's Kitchen - Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
        window.onload = function () {
            var feed = new Vue({
                el: '#stats',
                data: {
                    stats: { session: [], url: [] },
                    showSessionTable: false,
                    showUrlTable: false,
                    showLogData: false,
                },
                created() {
                    fetch(new Request('/admin/stats')).then(response => response.json())
                        .then(response => this.stats = response);
                }
            });
        }
    </script>
</head>

<body>
    <h1>
        <a class="navigation" href="/" title="marks.kitchen">&lt;</a>
        Admin
    </h1>
    <div>
        <h1>Create Post</h1>
        <div class="form">
            <form action="/posts" method="post" enctype="multipart/form-data">
                <div>
                    <textarea name="description"></textarea>
                </div>
                <div>
                    <span>Tags: <input type="text" name="tags" /></span>
                </div>
                <div>
                    Images: <input type="file" name="images" multiple>
                </div>
                <div>
                    <select name="type">
                        <option value="" disabled selected>Select...</option>
                        <option value="bread">Bread</option>
                        <option value="blog">Blog</option>
                        <option value="index">Index</option>
                    </select>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div id="stats">
        <h1>Stats</h1>
        <div>
            <input type="checkbox" id="showSession" v-model="showSessionTable">
            <label for="showSession">Show Session Stats</label>
        </div>
        <div v-if="showSessionTable">
            {{stats.total}} total sessions
            <table class="table session-table">
                <tr>
                    <th>Host</th>
                    <th>Total Requests</th>
                </tr>
                <tr v-for="item in stats.session">
                    <td>{{item.session.substring(0,10)}}...</td>
                    <td>{{item.c}}</td>
                </tr>
            </table>
        </div>
        <div>
            <input type="checkbox" id="showUrl" v-model="showUrlTable">
            <label for="showUrl">Show URL Stats</label>
        </div>
        <table class="table url-table" v-if="showUrlTable">
            <tr>
                <th>Method</th>
                <th>Path</th>
                <th>Total Requests</th>
            </tr>
            <tr v-for="item in stats.url">
                <td>{{item.method}}</td>
                <td>{{item.url.substring(0, Math.min(30, item.url.length))}}</td>
                <td>{{item.c}}</td>
            </tr>
        </table>
        <div>
            <input type="checkbox" id="showLog" v-model="showLogData">
            <label for="showLog">Show Log</label>
        </div>
        <table class="table log-table" v-if="showLogData">
            <tr>
                <th>Date</th>
                <th>Session</th>
                <th>Method</th>
                <th>Path</th>
            </tr>
            <tr v-for="item in stats.log">
                <td>{{item.createdAt.substring(0,19)}}</td>
                <td>{{item.session.substring(0,10)}}...</td>
                <td>{{item.method}}</td>
                <td>{{item.url.substring(0, Math.min(30, item.url.length))}}</td>
                <td>{{item.c}}</td>
            </tr>
        </table>
    </div>
</body>

</html>