<!doctype html>
<html lang="en">

<head>
    <title>Seafarer's Cafe - Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        window.onload = function () {
            var feed = new Vue({
                el: '.feed',
                data: {
                    posts: []
                },
                created() {
                    fetch(new Request('/posts/blog')).then(response => response.json())
                        .then(response => { response.forEach(post => {
                                post.description = marked(post.description)
                                this.posts.push(post);
                            });
                        });
                }
            });
        }
    </script>
</head>

<body>
    <div>
        <h1>
            <a class="navigation" href="/" title="seafarers.cafe">&lt;</a>
            Blog
        </h1>
        <div id="feed" class="feed">
            <div class="card" v-for="post in posts">
                <p class="card-title" v-html="post.title"></p>
                <p class="card-author" v-html="post.author"></p>
                <p class="card-text" v-html="post.description"></p>
                <p class="date">
                    <a v-bind:href="'/blog/'+post.id">{{ post.createdAt.substring(0,10) }}</a>
                    <span v-for="tag in post.tags">
                        <a class="tag" v-bind:href="'/tags#'+tag">{{tag}}</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</body>

</html>