<!doctype html>
<html lang="en">

<head>
    <title>Seafarer's Cafe - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>
        <a class="navigation" href="/" title="seafarers.cafe">&lt;</a>
        Login
    </h1>
    <div>
        <h1>Login</h1>
        <div class="form">
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <input type="text" placeholder="Enter Username" name="username" required>
                <input type="password" placeholder="Enter Password" name="password" required>
                <input type="submit" value="Log in">
            </form>
        </div>
    </div>
</body>

</html>